<style>

body {
    background: #0b1220;
    color: white;
    font-family: system-ui;
    padding: 40px;
}

.run-btn {
    background: linear-gradient(135deg,#4F9CF9,#1E3A8A);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

.chart-container {
    width: 650px;
    height: 350px;
}

</style>

<h1>RainViewer API Monitoring</h1>

<a href="/run">
<button class="run-btn">Run Test</button>
</a>

<div class="chart-container">
<canvas id="latencyChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const labels = {{ ids | tojson }};
const data = {{ latencies | tojson }};

const ctx = document.getElementById('latencyChart').getContext('2d');

const gradient = ctx.createLinearGradient(0,0,0,400);
gradient.addColorStop(0,"#60A5FA");
gradient.addColorStop(1,"#1E3A8A");

new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Latency (s)',
            data: data,
            borderColor: "#60A5FA",
            backgroundColor: gradient,
            fill: true,
            tension: 0.4,
            pointRadius: 5,
            pointBackgroundColor: "#93C5FD"
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                labels: {
                    color: "white"
                }
            }
        },
        scales: {
            x: {
                grid: { color: "#1f2937" },
                ticks: { color: "#9CA3AF" }
            },
            y: {
                grid: { color: "#1f2937" },
                ticks: { color: "#9CA3AF" }
            }
        }
    }
});

</script>
